
    body {
      background-color: rgb(233, 213, 32);
    }

    h1 {color: rgb(160, 222, 233) ;
      background-color: rgb(187, 135, 174);}
      
    img {
            vertical-align: middle;
        }
    
       






       
