
    body {
      background-color: rgb(223, 204, 32);
    }

    h1 {color: rgb(18, 151, 240) ;
      background-color: purple;}
      
    img {
            vertical-align: middle;
        }
    
       






       
