
    body {
      background-color: rgb(233, 213, 32);
    }

    h1 {color: rgb(73, 164, 182) ;
      background-color: rgb(177, 122, 145);}
      
    img {
            vertical-align: middle;
        }
    
       






       
